<div class="restaurant">
    <figure>
        <img src="../../../assets/images/restaurant.png" alt="">
    </figure>
    <div class="restaurant-meta">
        <h2 class="restaurant-title">{{restaurant.name}}</h2>
        <p class="restaurant-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vero eos eveniet
            asperiores at iste, aperiam sequi in iure quae voluptate, exercitationem ratione pariatur explicabo
            temporibus tenetur nobis, perspiciatis alias? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus aliquid sapiente magnam ad laudantium ducimus veritatis quod illo, quo odit, sequi tenetur
            dicta fugit aliquam quos distinctio praesentium, dolorem tempore. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Modi, tempora.</p>

        <div class="rating">
            <app-star-rating [selectedStar]="restaurant.rating" [disabled]="true"></app-star-rating>
            <span>{{restaurant.rating | number}}/5</span>
            <span>Lowest:{{restaurant.lowest}}</span>
            <span>Highest:{{restaurant.highest}}</span>

            <a routerLink="/rate-restaurant/{{restaurant.id}}"><button mat-raised-button>Rate </button> </a>
        </div>
    </div>
</div>


<div class="user-reviews">

    <app-single-review *ngFor=" let review of reviews; let index=index" [review]="review"></app-single-review>

</div>