<main [ngClass]="{'noAuth':!authService.isLoggedIn}">

  <header *ngIf="authService.isLoggedIn" class="header">
    <div class="container">
      <div><a routerLink="/restaurant"><img src="../assets/images/logo.png" alt="logo"></a></div>
      <nav>
        <ul>
          <li><a routerLink="/restaurant">Restaurants</a></li>
          <li><a routerLink="/review">Reviews</a></li>
          <li><a><button (click)="logout()">Logout</button></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>