:host {
    width: 100%;
}

.go-back {
    font-size: 25px;
}

.review-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 150px auto;
}

.form-field-full-width {
    width: 100%;
}



.review-form {
    width: 400px;
    min-height: 400px;
    background-color: #E7D2D2;
    padding: 30px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        app-star-rating {
            margin-bottom: 20px;
        }
    }
}